# Production build artifacts
/vendor/
/node_modules/
.env

# Runtime data
/storage/*.key
/storage/cache/*
!/storage/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

# Development/IDE files
/.idea/
/.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db

# Wasmer specific
.wasmer/
.wasmer-template/
*.wasm